<div id="formcontainer">
    <img id="img1"
        src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?cs=srgb&dl=background-beverage-brown-414645.jpg&fm=jpg">
    <a href="#"><img id="cross"  src="https://image.flaticon.com/icons/svg/148/148766.svg"></a>
    <p id="text">Đăng nhập vào hệ thống</p> <input id="email" type="email" type="tel" placeholder="Email / Phone"> <input
        id="password" type="password" placeholder="Password"> <input id="check" type="checkbox">
    <p id="text1">Ghi nhớ đăng nhập</p> <a id="forget" href="#">Quên Mật Khẩu?</a>
    <button id="login" type="submit">
        Đăng Nhập
    </button>
    <hr id="hrline1">
    <p id="text2">hoặc đăng nhập bằng</p>
    <hr id="hrline2">
    <button id="btn_facebook">

        <img id="facebook" src="https://image.flaticon.com/icons/svg/174/174848.svg">Facebook</button>
    <button id="btn_google">
        <img id="google" src="https://image.flaticon.com/icons/svg/281/281764.svg">Google</button>
    <p id="text3">Not a Member?</p> <a id="signup" href="#">Signup Now</a>
</div>